*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* ****************heading******************* */
.container-fluid{ 
  padding-right: 0px!important;
  padding-left: 0px!important;
  background-color: gold;
}
header{
  box-shadow: 8px 0 12px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
}

.header-div h1{
  height: auto;
  color: #fff;
  padding: 10px 0;
  margin-left: 100px;
}
/* ********create note************ */

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height:300px;
  width: 100%;
  
}
.main-div form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 40px ;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
.main-div form input {

  text-align: center;
  border: none;
  border-bottom: 2px solid gold;
  height: 35px;
  outline: none;
  font-weight: bold;
}

.main-div form textarea {
  margin: 20px 0;
  text-align: center;
  border: none;
  border-bottom: 2px solid gold;
  height: 33px;
  font-weight: bold;
  outline: none;
}
.main-div form button {
  position: absolute;
  bottom: -25px;
  right: 20px;
  
  outline: none;
  border: none;
  font-size: 30px;

  font-weight: bold;
  border-radius: 50%;
  padding: 0px 20px 5px;
  color:gold;
  border: 1px solid gold;
  background-color: white;
}
.main-div form button:hover{
  color:white;
  border: 1px solid gold;
  background-color:gold;
  /* box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5); */
}

/* ************note start****************** */
.note {
  height: auto;
  width: 200px;
  border-radius: 10px;
  box-shadow: 5px 8px 12px 5px rgba(0, 0, 0, 0.5);
  justify-content: center;
  
  margin-left: 570px;
  margin-bottom: 20px;
}

.note h1{
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 15px;
}
.note p{
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: 15px;
}
.note .btn-div{
  position: relative;
  bottom: 10px;
  left: 130px;
  color: gold;
  padding: 5px 6px;
  border: 2px  solid gold;
  border-radius: 30px;
  outline: none;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.3);
}
.note .btn-div:hover{
  background-color: gold;
  color: white;
}

/* ***********footer***************** */
footer{
  position: relative;
}
footer p{
 margin-top: 210px;
  text-align: center;
  font-weight: bold;
  font-size: 1.0rem;
}


/* *************media query****** */
@media (max-width:992px){
  .header-div h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    padding: 20px 0;
}
  .note {
    
    margin-left: 75px;
  
}
}